<h1>Create a new vehicle</h1>

<%= simple_form_for [@transport] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category,:collection => Transport::CATEGORY,:label => "Category" ,:include_blank => false %>
  <%= f.input :address %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Create transport", class: "btn btn-primary" %>
<% end %>
