<h1>create a new vehicle</h1>

<%= simple_form_for [ @transport] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category,:collection => ["Moto", "bycle", "trot", "car", "bus"],:label => "Category" ,:include_blank => false %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
