<div class="main_wrapper m-4" id="transport" data-price="<%= @transport.price %>">
  <div class="row align-items-center justify-content-between">

    <!-- LEFT COLUMN 8 -->
    <div class="col-8">
      <div>

        <!-- SHOW ITEMS -->
        <div class="card-trip mb-4">

          <!-- IMG & CATEGORY -->
          <h3 id="category-top-right"><%= @transport.category %></h3>
          <%= cl_image_tag @transport.photo.key, crop: :fill %>

          <!-- TEXT INFO -->
          <div class="card-trip-infos">
            <div>
              <h2><%= @transport.name %></h2>
              <p><%= @transport.description %></p>
            </div>
            <h3 class="card-trip-pricing"><%= number_with_delimiter(@transport.price, :delimiter => ',') %>€</h3>
            <%= cl_image_tag @transport.owner.photo.key, gravity: :face, crop: :thumb, class:"card-trip-user avatar-bordered" %>
          </div>
        </div>

        <!-- DELETE BUTTON IF CURRENT USER -->
        <div class="row justify-content-between">
          <div >
            <%= link_to "Book another transport 🚗", transports_path(@transports), class:"btn btn-outline-primary btn-sm"%>
          </div>
          <div >
            <% if current_user == @transport.owner %>
              <%= link_to "Delete #{@transport.name}",
                          transport_path(@transport),
                          method: :delete,
                          data: { confirm: "Are you sure?" },
                          class:"btn btn-outline-danger btn-sm " %>
            <% end %>
          </div>
        </div>


      </div>
    </div>

    <!-- RIGHT COLUMN 4 -->
    <div class="col-4">

      <!-- BOOKING CALENDAR FORM & CART -->
      <%= render "transports/form_booking" %>

    </div>

  </div>

</div>

<!-- RENDER MODAL WHEN BOOKING -->
<%= render "transports/modal_booking" %>
