<!-- TITLE -->
<h1 class="m-4">Details of <%= @transport.name %></h1>
<div class="card-trip">
    <img src="#" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
<div class="text-center" >
  <% if @available %>
   <button class="btn btn-primary m-3">Book Now</button>
  <% else %>
   <button class="btn btn-primary m-3">Booked</button>
  <% end %>
</div>

<%
=begin%>
 <%
  if @transport.photo.attached?
    url = cl_image_path @transport.photo.key, height: 300, width: 500, crop: :fill
  else
    url = "https://images.ladepeche.fr/api/v1/images/view/5eca937b8fe56f2f05260255/large/image.jpg?v=1"
  end
%>
<%
=end%>
<%= cl_image_tag @transport.photo.key, height: 300, width: 400, crop: :fill %>

<h3><%= @transport.category %></h3>
<h2><%= @transport.name %></h2>
<p><%= @transport.description %></p>
<h2><%= @transport.price %></h2>

<%= link_to "Back to list", transports_path %>
