

<div class="profil">
  <div class="profil-detail">
    <%= cl_image_tag(@user.photo.key, :transformation=>[
      {:width=>120, :height=>120, :gravity=>"face", :crop=>"thumb", :format=>".png"},
      ])
    %>
  </div>
  <div class="profil-detail">
    <div>
      <h2><%= @user.first_name %> <%= @user.last_name %> </h2>
    </div>
    <div>
      <h5><i class="fas fa-at"></i> <%= @user.email %></h5>
      <h5><i class="fas fa-phone-alt"></i> <%= @user.phone_number %></h5>
    </div>
  </div>
</div>


<!-- BOOKED-->

<div class="mt-8 mb-4 ml-4">
  <h3><i class="fas fa-chevron-circle-down ml-4"></i>  I have booked</h3>
    <% if @bookings == []%>
      <div class="text-center card-body">
        <h5 class="mb-4">Nothing booked yet </h5>
        <p><%= link_to "Choose your mount", "/transports", class: "btn btn-primary" %></p> 
      </div>
    <% else @bookings.each do |booking| %>
      <div class="col mb-2">
        <div class="card-product">
            <%= cl_image_tag booking.transport.photo.key, crop: :fill, class:"card-img-top" %>
            <div class="card-product-infos">
              <div>
                <h2><%=booking.transport.name%> - <i class="far fa-calendar-alt"></i> booked from <%=booking.start_date.strftime("%d/%m/%Y")%> to <%=booking.end_date.strftime("%d/%m/%Y")%> </h2>
              </div>
              <p><%= booking.transport.description %> - <%= @days_reserved%></p>
              <p><i><i class="fas fa-map-marker-alt"></i> <%= booking.transport.address %></i></p>
              <p class="card-product-price"><b><%= number_with_delimiter(booking.transport.price, :delimiter => ',') %>€/day</b></p>

            </div>
          </div>
        </div>
      <% end %>
    <%end%>
</div>


<!-- OWN -->
<div class="mt-8 mb-4 ml-4">
  <h3><i class="fas fa-chevron-circle-down ml-4"></i>  I own</h3>
    <% if @user.transports == []%>
      <div class="text-center card-body">
        <h5 class="mb-4"> Add your favorite mount on Adada and make money </h5>
        <p><%= link_to "Add a transport", new_transport_path, class: "btn btn-primary" %></p>
      </div>
    <% else %>
      <% @user.transports.each do |transport| %>
        <div class="col mb-2">
          <div class="card-product">
              <%= cl_image_tag transport.photo.key, crop: :fill, class:"card-img-top" %>
              <div class="card-product-infos">
                <h2><%=transport.name%> - <%= transport.count_reserved_numbers%> reservation(s) - <%= transport.count_reserved_days %> day(s) booked </h2>
                <p><%= transport.description %></p>
                <p><i><i class="fas fa-map-marker-alt"></i> <%= transport.address %></i></p>
                <p class="card-product-price"><b><%= number_with_delimiter(transport.price, :delimiter => ',') %>€/day</b></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end%>
</div>