<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "/", class: "navbar-brand" do %>
      <div><i class="fas fa-route"></i><h6>ADADA</h6></div>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <%= link_to "Add a transport", new_transport_path, class: "btn btn-primary mr-4" %>
        </li>

        <% if current_user %>
        <!-- AVATAR & DROPDOWN MENU-->
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My Account", user_path(current_user.id), class: "dropdown-item" %>
              <%= link_to "Log-out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>
        <!-- LOG IN -->
          <li class="nav-item active">
            <%= link_to "Log-in", new_user_session_path, class: "btn btn-secondary mr-4" %>
          </li>

					<li class="nav-item active">
  					<%= link_to "Sign-up", new_user_registration_path, class: "btn btn-secondary mr-4" %>
					</li>
        <% end %>

      </ul>
    </div>
  </div>
  

